body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

body {
    background-image: url(../img/login.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}

.background {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

form {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 40px;
    background-color: #080710;
}

form h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

input::placeholder {
    color: #e5e5e5;
}

button {
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 44px;
    line-height: 1.15;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3144d8;
}

a {
    color: #23a2f6;
    text-decoration: none;
    margin-left: 5px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .background .shape {
        display: none;
    }

    form {
        padding: 30px;
    }

    form h3 {
        font-size: 24px;
        line-height: 32px;
    }
}
