@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
}

.responsiveNav {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}

.responsiveNav button {
}
.responsiveNav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.responsiveNav ul li a {
  text-decoration: none;
  color: #000;
}

.responsiveNav ul li a:hover {
  color: #00b4d8;
}

.background {
  width: 800px;
  height: 800px;
  background-color: #00b4d8;
  position: absolute;
  border-radius: 50%;
  top: -500px;
  left: -300px;
  z-index: -999;
}

nav {
  position: relative;
  background: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  gap: 100px;
  align-items: center;
  padding: 10px 0;
}

.menu {
  background: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  display: none;
}


nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a:hover {
  color: #00b4d8;
  transition: all ease-in-out 0.6s;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: #00b4d8;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.9s;
}

nav img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  font-size: 22px;
}

.profile a {
  color: black;
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
  font-size: 18px;
}

.profileContainer {
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  background: #00b4d8;
  width: 300px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content button{
    width: fit-content;
    padding: 5px 10px;
    margin: auto;
    background: #fff;
    border: 1px solid #fff;
    color: #00b4d8;
    cursor: pointer;
    font-size: 16px;
}

.profileContainer .content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 920px) {
  nav {
    gap: 30px;
    justify-content: space-evenly;
  }
  nav ul,
  .buttons {
    gap: 20px;
  }

  nav img {
    width: 60px;
    height: 60px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .bar h4 {
    font-size: 22px;
  }

  footer {
    gap: 20px;
  }

  .footerLeft img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
  }

  .footerRight ul {
    gap: 20px;
    width: 200px;
  }

  .footerLeft p {
    font-size: 16px;
    margin-left: 20px;
  }
  .socials p {
    font-size: 20px;
  }
}

@keyframes widthAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@media (max-width: 480px) {
  nav ul,
  nav img {
    display: none;
  }

  .background {
    display: none;
  }

  .menu {
    display: block;
 
  }

  footer {
    gap: 50px;
    width: 100%;
    flex-direction: column;
  }

  .footerLeft {
    align-items: center;
  }

  .footerLeft img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }


  .footerRight ul {
    gap: 20px;
    width: 200px;
    justify-content: center;
  }

  .footerLeft p {
    font-size: 16px;
    margin-left: 20px;
  }

  .socials p {
    font-size: 20px;
  }
}
