@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register {
  display: flex;
  flex-direction: column;
}

.register input {
  width: 180px;
  height: 25px;
  padding: 5px 10px;
  border: 1px solid #00b4d8;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
}

.register input::placeholder {
  color: black;
  font-size: 16px;
}

.register select {
  width: 200px;
  height: 38px;
  padding: 5px 10px;
  border: 1px solid #00b4d8;
  border-radius: 3px;
}

.name,
.contact,
.password,
.dob,
.address {
  display: flex;
  gap: 20px;
}

.registerBtn {
  background-color: #00b4d8;
  width: fit-content;
  padding: 5px 20px;
  margin: auto;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #00b4d8;
}

@media (max-width: 480px) {
  .name,
  .contact,
  .password,
  .dob,
  .address {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .register input {
    width: 180px;
    height: 20px;
    padding: 5px 10px;
    border: 1px solid #00b4d8;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  select {
    margin-bottom: 10px;
  }
}
