@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
}

.responsiveNav {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}

.responsiveNav button {
}
.responsiveNav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.responsiveNav ul li a {
  text-decoration: none;
  color: #000;
}

.responsiveNav ul li a:hover {
  color: #00b4d8;
}

.background {
  width: 800px;
  height: 800px;
  background-color: #00b4d8;
  position: absolute;
  border-radius: 50%;
  top: -500px;
  left: -300px;
  z-index: -999;
}

nav {
  position: relative;
  background: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  gap: 100px;
  align-items: center;
  padding: 10px 0;
}

.menu {
  background: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  display: none;
}
nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a:hover {
  color: #00b4d8;
  transition: all ease-in-out 0.6s;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: #00b4d8;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.9s;
}

nav img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  font-size: 22px;
}

.profile a {
  color: black;
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
  font-size: 18px;
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 30px;
  width: fit-content;
}

.searchBar input {
  width: 300px;
  height: 20px;
  padding: 10px 20px;
  border: 1px solid #00b4d8;
  outline: none;
  border-radius: 3px;
  font-size: 18px;
}

.search {
  position: absolute;
  width: fit-content;
  padding: 5px 20px;
  right: 0;
  height: 40px;
  outline: none;
  border: none;
  background: #00b4d8;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.bar {
  width: fit-content;

  height: 60px;

  margin: auto;
  margin-top: 50px;
  border-top: 2px solid #00b4d8;
  border-right: 2px solid #00b4d8;
  border-bottom: 2px solid #00b4d8;
}

.bar h4 {
  font-size: 22px;
}
.categoryButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.categoryButtons button {
  background-color: transparent;
  font-size: 23px;
  width: 160px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  border-left: 2px solid #00b4d8;
}

.categoryButtons button:hover {
  background-color: #00b4d8;
  color: #fff;
}

#evContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.cars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  gap: 60px;
}

.car {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.car img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  animation: animates 1s ease-in-out 0.3s 1 forwards;
}

.details a {
  color: black;
  text-decoration: none;
  animation: animates 1s ease-in-out 0.3s 1 forwards;
}

.carBtn {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  animation: animates 1s ease-in-out 0.3s 1 forwards;
}

.carBtn button {
  width: fit-content;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.addCrt {
  background: #fff;
  border: 1px solid #00b4d8;
  color: #00b4d8;
}

.buy {
  border: 1px solid #fff;
  background-color: #00b4d8;
  color: #fff;
}

.details p {
  font-size: 20px;
  font-weight: 600;
  animation: animates 1s ease-in-out 0.3s 1 forwards;
}

.heading {
  margin-top: 90px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  gap: 90px;
  background: #00b4d8;
  align-items: center;
  color: #fff;
  margin-top: 50px;
  width: 100%;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}
.footerLeft p {
  font-size: 22px;
  margin-top: 20px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerRight ul {
  display: flex;
  gap: 50px;
  list-style: none;
  width: 350px;
  flex-wrap: wrap;
  font-size: 18px;
}

.footerUpper ul li {
  position: relative;
}

.footerUpper ul li:hover {
  color: #000000;
  cursor: pointer;
}

.footerUpper ul li::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: #000000;
}

.footerUpper ul li:hover::after {
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.9s;
}

.footerUpper ul li:hover {
  color: #000000;
  cursor: pointer;
}

.footerLeft img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.footerLower {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials p {
  font-size: 24px;
}

.icons {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  font-size: 28px;
  flex-wrap: wrap;
}

.icons .fa-brands {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.icons .fa-brands:hover {
  color: #000000;
  transition: all ease-in-out 0.9s;
}

@media (max-width: 920px) {
  nav {
    gap: 30px;
    justify-content: space-evenly;
  }
  nav ul,
  .buttons {
    gap: 20px;
  }

  nav img {
    width: 60px;
    height: 60px;
  }

  .signupBtn,
  .loginBtn {
    font-size: 14px;
    padding: 5px 10px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .bar h4 {
    font-size: 22px;
  }

  .categoryButtons button {
    font-size: 23px;
    width: fit-content;
    padding: 5px 20px;
    gap: 20px;
  }

  footer {
    gap: 20px;
  }

  .footerLeft img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
  }

  .footerRight ul {
    gap: 20px;
    width: 200px;
  }

  .footerLeft p {
    font-size: 16px;
    margin-left: 20px;
  }
  .socials p {
    font-size: 20px;
  }
}

@keyframes widthAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@media (max-width: 500px) {
  nav ul,
  nav img {
    display: none;
  }

  .background {
    display: none;
  }

  .menu {
    display: block;
  }

  .bar {
    height: 30px;
  }
  .bar h4 {
    font-size: 22px;
  }

  .cars {
    margin: auto;
  }

  .car img {
    width: 200px;
    height: 100px;
  }

  .carBtn {
    gap: 10px;
  }

  .carBtn button {
    padding: 5px 10px;
  }
  .searchBar {
    width: 250px;
    height: 30px;
    margin: auto;
    margin-top: 50px;
  }

  .searchBar button {
    height: 37px;
    padding: 5px 10px;
  }

  .searchBar input {
    height: 15px;
    font-size: 13px;
  }

  .categoryButtons {
    margin: auto;
  }

  .categoryButtons button {
    font-size: 17px;
    width: fit-content;
    padding: 5px 10px;
    gap: 10px;
    height: 30px;
  }

  footer {
    gap: 50px;
    width: 100%;
    flex-direction: column;
  }

  .footerLeft {
    align-items: center;
  }

  .footerLeft img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .footerRight {
  }

  .footerRight ul {
    gap: 20px;
    width: 200px;
    justify-content: center;
  }

  .footerLeft p {
    font-size: 16px;
    margin-left: 20px;
  }

  .socials p {
    font-size: 20px;
  }

  .services h1,
  .aboutus h1,
  .contact h1 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
}
